/* body {
body {
    overflow: hidden;
    background-image: url('./images/browser-background.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    margin: 1;
    padding: 1;
} */

html { 
  background: url(../images/background-image1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo-img {
    position: absolute;
    top: 70px; /* adjust to desired distance from top */
    left: 40px; /* adjust to desired distance from left */
    width: 230px; /* adjust to desired size */
    height: auto; /* maintain aspect ratio */
    z-index: 1;
  }


#play-button {
    position: absolute;
    top: 270px; /* adjust to desired distance from top */
    left: 50px; /* adjust to desired distance from left */
    width: 200px; /* adjust to desired size */
    height: auto; /* maintain aspect ratio */
    z-index: 1;
  }

  #reset-button {
    position: absolute;
    top: 380px; /* adjust to desired distance from top */
    left: 50px; /* adjust to desired distance from left */
    width: 200px; /* adjust to desired size */
    height: auto; /* maintain aspect ratio */
    z-index: 1;
  }
  
  



#canvasBack {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#canvasFront {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

canvas {
    display: block;
    margin: 0 auto;
  }

#image {
    height: 15px;
    width: 15px;
    background: 
        url('images/BILLY_BIT.png') 0px 0px;
}

.ghost {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 3; /* Put the ghosts on a higher z-index than both canvases */
}
